<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Square Root Approximation</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">
        Square Root Approximation
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Approximating the Following</ion-card-subtitle>
        <ion-card-title>Function</ion-card-title>
      </ion-card-header>
      <img src="assets/SquareRoot.png" />
      <ion-card-content>
        &nbsp;
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-label position="floating"
          >Please Enter a Non-Negative Value (a)</ion-label
        >
        <ion-input
          #inputElement
          type="number"
          [value]="input$ | async"
          color="primary"
        ></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-label position="floating"
          >The Calculated Square Root (x) is</ion-label
        >
        <ion-input
          type="number"
          [value]="output$ | async"
          color="primary"
          readonly
        ></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="onResetClick()">Reset</ion-button>
  </div>
  <div *ngIf="showAbout" id="about">
    <h4>About the Newton's Method</h4>
    <p>
      The name "Newton's method" is derived from Isaac Newton's description of a
      special case of the method in De analysi per aequationes numero terminorum
      infinitas (written in 1669, published in 1711 by William Jones) and in De
      metodis fluxionum et serierum infinitarum (written in 1671, translated and
      published as Method of Fluxions in 1736 by John Colson).
    </p>
    <p>
      <b
        >A special case of Newton's method for calculating square roots was
        known since ancient times and is often called the Babylonian method.</b
      >
    </p>
    <p>
      Source:
      <a href="https://en.wikipedia.org/wiki/Newton's_method" target="_blank"
        >Wikipedia Article</a
      >
    </p>
    <ion-button routerLink="/folder/SquareRoot">Close</ion-button>
  </div>
</ion-content>
